<h2>Cupboard</h2>

<div class="needs">
  <div *ngFor="let need of needs">
    <a routerLink="/detail/{{need.name}}">
      <span class="need">{{need.name}}</span>
    </a>
  </div>
</div>
<app-need-detail [selectedNeed]="selectedNeed"></app-need-detail>


<div>
  <div>
    <form (ngSubmit)="onSubmit()">
      <label for="name">Need name:</label>
      <input id="name" [(ngModel)]="newNeed.name" name="name" />

      <label for="price">Price:</label>
      <input id="price" [(ngModel)]="newNeed.price" name="price" />

      <label for="quantity">Current Quantity:</label>
      <input id="quantity" [(ngModel)]="newNeed.currentQuantity" name="currentQuantity" />

      <label for="quantity">Required Quantity:</label>
      <input id="quantity" [(ngModel)]="newNeed.requiredQuantity" name="requiredQuantity" />

      <label for="type">Type:</label>
      <input id="type" [(ngModel)]="newNeed.type" name="type" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>