<div class="header">
  <h1>Support Morocco Earthquakes</h1>
</div>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Log Out</a>
  <input type="text" class="search-box" placeholder="Search...">
</div>

<h2>Cupboard</h2>
<div class="needs">
  <div *ngFor="let need of needs">
    <button [class.selected]="need === selectedNeed" type="button" (click)="onSelect(need)">
      <span class="name">{{need.name}}</span>
    </button>
  </div>
</div>


<div *ngIf="selectedNeed">
  <h2>{{selectedNeed.name | uppercase}} </h2>
  <div>Price: {{selectedNeed.cost}}</div>
  <p>Current Quantity: {{ selectedNeed.currentQuantity }}</p>
  <p>Required Quantity: {{ selectedNeed.requiredQuantity }}</p>
  <div>Type: {{selectedNeed.type}}</div>
  <div class="input-group">
  </div>
</div>


